body { font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
margin: 0; padding: 0; background: #f7f7f7;
}
#app,#page { width: 100%; height: 100%; padding: 0; margin: 0; }
.maxW1300 { max-width: 1200px; }
.maxW1200 { max-width: 1200px; }
.maxW800  { max-width: 1200px; }
.maxW960  { max-width: 960px; }
ul { list-style: none; padding: 0; }
pre { font-size: 12px; color: #666; }
.comp { padding: 1em; }
#c-header {
    background: #FFF;
    padding: 1em 0;
}
#app-logo { width: 3em; height: auto; }
#c-home{ }
#c-footer{ }
